body {
	background-color: white;
	text-align: center;
	margin: 0 auto;  
	height:100%;
	font-size: 120%;
	right:100px 

    width: 100%;
border-collapse: collapse;
}
.botton{
	font-weight: bold;
	  font-size: 1.4em;
	
}
/*login */


.comment-text{
	width: 100px;
	height: 100px;
}


.account{
	text-align: center;
    height:100%;
	width: 300px;
	right:100px
	text-align: center;
	margin: 0 auto;  
     
}
.date{
    text-align: right;
    width: 600px;
}



/*テキストボックス（ログイン、）*/
.input-box {
	width: 670px;
	height: 150px;
}
.comment-box {
	width: 670px;
	height: 80px;
}




table {
	border-collapse: collapse;
	border-color: black;
}

td {
	border: solid 1px;
	padding: 0.5em;
	border-color: black;
}





.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: white;
}




.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	
	color: red;
	text-align: left;
}
.big-text{
	font-size: 120%;
}
//posting
.posting-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: white;
	height:100%;
	width: 900px;
	right:400px
	text-align: center;
	    margin: 0 auto;  
    text-align: center;  
   
}
textarea {  
    resize: none;  
}  
