body {
	background-color: white;

	margin: 0 auto;  
	height:100%;
	font-size: 120%;
	right:100px 

    width: 100%;
	border-collapse: collapse;
}

.input-text {
	text-align: center;
}
.head-text{
	text-align: left;
}
.botton{
	text-align: left;
	 left: 50px;
	font-weight: bold;
	  font-size: 1.4em;
	
}
/*login */


.comment-text{
	width: 100px;
	height: 100px;
}


/*テキストボックス（ログイン、）*/
.input-box {
	width: 670px;
	height: 150px;
}
.comment-box {
	width: 670px;
	height: 80px;
}


/*表*/

table {
	border-collapse: collapse;
	border-color: black;
}

td {
	border: solid 1px;
	padding: 0.5em;
	border-color: black;
}

.comments{
	 top:30px;, left:30px;
	 font-size: 80%;
}


.copyright {
	width: 250px;
	margin: 0 auto;
}

.messages {
	color: red;
	text-align: left;
}
.big-text{
	font-size: 120%;
}

/*広げないように*/
textarea {  
    resize: none;  
}  
